.anchor {
    -fx-background-image: url('../images/2560px-Healthcare_Building.jpg');
    -fx-background-size: cover;
}

.mapEditor {
    -fx-background-image: url('../images/thirdFloorMap.png');
    -fx-background-size: cover;
}

.anchor:hover {
    -fx-opacity: 95%;
}

.rectangle {
    -fx-border-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.8);
}


.button {
    -fx-background-color: FDC500;
    -fx-font-size: 18px;
}

.pane {
    -fx-background-color: #1e90ff;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.lightPane {
    -fx-background-color: #93C0EB;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.tab{
    -fx-background-color: #93C0EB;
    -fx-background-radius: 20;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}

.tab-pane .tab:selected {
    -fx-background-color: #1E90FF;
    -fx-background-radius: 20 20 0 0;
    -fx-border-radius: 20 20 0 0;
}

.tab:hover
{
    -fx-background-color: #66b5ff;
    -fx-border-color: #173049;
    -fx-border-width: 1;
}

.JFXButtonLight:hover
{
    -fx-background-color: #66b5ff;
    -fx-border-color: #173049;
    -fx-border-width: 1;
}

.JFXButtonLight {
    -fx-background-color: #93C0EB;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.JFXButtonDark:hover
{
    -fx-background-color: #007fff;
    -fx-border-color: #99ccff;
    -fx-border-width: 1;
}

.JFXButtonDark {
    -fx-background-color: #1e90ff;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.JFXButtonMinor:hover
{
    -fx-background-color: #b2daff;
    -fx-border-color: #173049;
    -fx-border-width: 1;
}

.JFXButtonMinor {
    -fx-background-color: #eaeaea;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-font-size: 12;
}

.darkBlueWithBorder{
    -fx-background-color: #002168;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
}
.lightBlueWithBorder{
    -fx-background-color: #99a6c2;
    -fx-border-color: #002168;
    -fx-border-width: 1;
    -fx-font-size: 12;
    -fx-text-fill: #000000;

}
.lightBlueBorderless{
    -fx-background-color: #99a6c2;
    -fx-font-size: 12;
    -fx-text-fill: #000000;

}